nav.top-nav{
    background-color: #C9BBCF;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}

nav [aria-current="page"]{
    background-color: #bbb;
    color: #000;
    border-bottom: .25em solid #444;
}

main {
    margin-top: 100px;
    margin-left: 2em;
}

nav.top-nav li:hover{
    text-decoration: underline;
}

nav.top-nav li{
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    margin: 5px;
    user-select: none;
}

nav.top-nav ul{
    list-style: none;
}

nav.top-nav .pulldown-menu{
    display: none;
    position: absolute;
    border: 1px solid white;
    background-color: white;
}

nav.top-nav .pulldown-menu li{
    display: block;
}

nav.top-nav li:hover .pulldown-menu{
    display: block;
}

#about-me {
    display: flex;
    margin: 50px;
    /* border: 1px solid black; */
}

#profile {
    flex-direction: column;
    /* border: 1px solid black; */
}

#bio {
    /* border: 1px solid black; */
    margin: 25px;
}

h1{
    font-size: 50px;
}


#profile {
    display: flex;
    width: 1000px;
    align-items: center;
}

#profile img {
    width: 200px;
}

#bio {
    margin-left: 50px;
}

#bio h2 {
    margin-top: 80px;
    font-size: 40px;
}

#personal-contact{
    display: flex;
    justify-content: space-evenly;
}


#contact-me {
    margin: 50px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

#contact {
    display: flex;
    flex-direction: row;
}

#contact-me h1{
    font-size: 40px;
}

#contact-me p{
    font-size: 20px;
    margin-left: 20px;
}

#contact-me img{
    width: 55px;
    height: fit-content;
}

p {
    font-size: 25px;
}

#available-times {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}